*{
    margin: 0;
    padding: 0;
}

body{
    background: url(Gunung.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    background-attachment: fixed;
}

.bgblk{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    opacity: 0.3;
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    height: 80px;
    align-items: center;
}

nav ul{
    position: relative;
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
}

nav .logo {
    letter-spacing: 1px;
    color: #fff;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px;
    position: relative;
    transition: all 0.3s;
}



nav ul li a:hover{
    color: rgb(0, 0, 0);
}

nav ul li a::before{
    position: absolute;
    content: "";
    height: 4px;
    width: 30%;
    top: 100%;
    transform-origin: bottom;
    transform:scaleX(0);
    transition: 0.3s;
    background: #fff;
    border-radius: 2px;
    justify-self: center;
}

nav ul li a:hover::before{
    transform: scaleX(1);
}

.logo h4{
    font-size: 1.5em;
    top: -10px;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 10em 0;
}

#center .btn {
    color: white;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    border-radius: 3em;
}
.btn span{
    padding: 1.7em;
    font-weight: bold;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.btn-svg {
    position: relative;
    justify-content: center;
    overflow: hidden;
}
.btn-label{
    position: absolute;
}
.btn-svg:hover .btn-label {
    color: rgb(71, 71, 71);
}
.btn .btn-circle{
      position: absolute;
      z-index: -1;
      transform: scale(0);
      transition: 0.5s;
      top: -4.5em;
}
.btn-svg:hover .btn-circle {
    transform: scale(1); 
}


.css_iad839 {
    padding: 0 1em 1em 1em;
    font-weight: bolder;
    font-size: 3em;
    color: #fff;
    text-align: center;
    line-height: 1.2;
}

.scroll{
    justify-content: center;
    position: relative;
    display: flex;
    width: 90%;
    margin:30px auto;
    animation: anim 2s ease-in-out;
}
.mouse {
    margin: 0 auto;
    top: 100vh;
    border: solid 5px rgb(255, 255, 255);
    padding: 25px 15px;

    border-radius: 25px;
}
.dot{
    display: block;
    position: absolute;
    left: 50%;
    background: #fff;
    height: 0.5em;
    width: 0.5em;
    top: 0.6em;
    margin-left: -0.25em;
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll_2 2s ease-out infinite;
    -webkit-animation: scrdwn 0.8s steps(8) infinite;
    animation:scrdwn 0.8s steps(8) infinite;
}
@keyframes scrdwn{
    0%{transform: translateY(0); opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{transform: translateY(0.5em);}
    100%{opacity: 0;}
}

/* @-webkit-keyframes arrdown{
    0% {position: relative;top: 50%;transform: translateY(0%);}
    10% {position: relative;top: 100%;transform: translateY(50%);}
    100% {position: relative;top: 100%;transform: translateY(50%);}
} */

@keyframes arrdown{
    0% {
        position: relative;
        top: 50%;
        transform: translateX(0%);
    }
    10% {
        position: relative;
        top: 75%;
        transform: translateY(75%);
    }
    100% {
        position: relative;
        top: 100%;
        transform: translateY(100%);
    }
}

/* hamburger menu */

.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: 0.3s;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg);
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform:scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-2px, 0);
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}


/* Responsive breakpoint */

/* tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 80%;
        padding: 20px 10px;
    }
}

/* mobile */
@media screen and (max-width: 576px){
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: rgb(10, 10, 10);
        top: 0;
        height: 100vh;
        opacity: 0.9;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translateY(-100%);
        transition: all 0.9s;
        z-index: 1;
    }

    nav ul.slide{
        transform: translateY(0);
    }

    .menu-toggle{
        display: flex;
        z-index: 1;
    }

    nav ul li a:hover{
        color: rgb(255, 138, 138);
    }

    
}
