*{
    margin: 0;
    padding: 0;
}

body{
    background: url(gunung.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    background-attachment: fixed;
}

.bgblk{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    opacity: 0.3;
    z-index: -1;
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    height: 80px;
    align-items: center;
}

nav ul{
    position: relative;
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-between;
}

nav .logo {
    letter-spacing: 1px;
    color: #fff;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px;
    position: relative;
    transition: all 0.3s;
}



nav ul li a:hover{
    color: rgb(0, 0, 0);
}

nav ul li a::before{
    position: absolute;
    content: "";
    height: 4px;
    width: 100%;
    left: 0;
    top: 100%;
    transform-origin: bottom;
    transform:scaleX(0);
    transition: 0.3s;
    background: #fff;
    justify-content: center;
    border-radius: 2px;
}

nav ul li a:hover::before{
    transform: scaleX(1);
}

.logo h4{
    font-size: 1.5em;
    top: -10px;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
    padding: 10em 0;
}

.center h1{
    margin: auto;
    margin-top: 300px;
    font-size: 5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    justify-content: left;
    height: 100vh;
}

.center a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 900;
    margin: auto;
    padding: 15px 50px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
    justify-items: left;
    box-shadow: 5px 5px 10px #000000;
}

.css_iad839 {
    padding: 0 1em 1em 1em;
    font-weight: bolder;
    font-size: 3em;
    color: #fff;
    text-align: center;
    line-height: 1.2;
}


/* hamburger menu */

.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    display: none;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: 0.3s;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg);
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform:scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-2px, 0);
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}


/* Responsive breakpoint */

/* tablet */
@media screen and (max-width: 768px){
    nav ul{
        width: 80%;
        padding: 20px 10px;
    }
}

/* mobile */
@media screen and (max-width: 576px){
    nav ul{
        position: absolute;
        right: 0;
        flex-direction: column;
        background-color: rgb(10, 10, 10);
        top: 0;
        height: 100vh;
        opacity: 0.9;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        transform: translateY(-100%);
        transition: all 0.9s;
    }

    nav ul.slide{
        transform: translateY(0);
    }

    .menu-toggle{
        display: flex;
    }

    nav ul li a:hover{
        color: rgb(255, 138, 138);
    }
}